main {
  background-color: black;
  overflow: auto;
  min-height: auto;
}

.h1title {
  color: black;
  background-color: rgb(185, 162, 33);
  border: 5px solid rgb(185, 162, 33);
  text-transform: uppercase;
}

h2 {
  color: black;
  background-color: rgb(185, 162, 33);
  border: 4px solid rgb(185, 162, 33);
  border-radius: 1rem;
  text-transform: uppercase;
}

h3 {
  color: gold;
  background-color: black;
  border: 3px solid black;
  border-radius: 1rem;
}

h4 {
  color: gold;
}

a {
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

.borde {
  border-block-start: 2px solid rgb(185, 162, 33);
}

.wrp {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 600px;
  position: relative;
}

.portada {
  width: 100%;
  height: 100%;
  background-image: url(../imagenes/portada.jpg);
  background-attachment: fixed;
}

.contenido {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 11, 0.6);
}

.contenido .info {
  width: 100%;
  max-width: 750px;
  text-align: center;
}

.contenido .info h1 {
  color: rgb(185, 162, 33);
  font-size: 50px;
  text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  margin-bottom: 25px;
  letter-spacing: 1px;
}

.contenido .info a {
  display: inline-block;
  text-decoration: none;
  font-size: 19px;
  padding: 10px 25px;
  color: black;
  background: rgb(185, 162, 33);
  border-radius: 50px;
  margin-bottom: 40px;
  border: 2px solid transparent;
  transition: all 30ms ease;
  letter-spacing: 0.5px;
}

.contenido .info a:hover {
  background: transparent;
  color: rgb(185, 162, 33);
  border: 2px solid rgb(185, 162, 33);
}

@media (max-width: 768px) {
  .contenido .info h1 {
    font-size: 35px;
  }
}
.nosfon {
  background-color: black;
  color: white;
}

.imgnos {
  width: 300px;
  height: 300px;
}

.imgnos2 {
  width: 400px;
  border-radius: 1rem;
}

/* Globales */
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  font-family: "Lato";
  color: #333;
}

.icon-cart {
  width: 40px;
  height: 40px;
  stroke: #000;
}

.icon-cart:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 40px 0;
}

.container-icon {
  position: relative;
}

.count-products {
  position: absolute;
  top: 55%;
  right: 0;
  background-color: #000;
  color: #fff;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#contador-productos {
  font-size: 12px;
}

.container-cart-products {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  width: 400px;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}

.titulo-producto-carrito {
  font-size: 20px;
}

.precio-producto-carrito {
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}

.cantidad-producto-carrito {
  font-weight: 400;
  font-size: 20px;
}

.icon-close {
  width: 25px;
  height: 25px;
}

.icon-close:hover {
  stroke: red;
  cursor: pointer;
}

.cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}

.cart-total h3 {
  font-size: 20px;
  font-weight: 700;
}

.total-pagar {
  font-size: 20px;
  font-weight: 900;
}

.hidden-cart {
  display: none;
}

/* Main */
.container-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.item {
  border-radius: 10px;
}

.item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: all 0.5s;
}

.item figure {
  overflow: hidden;
}

.item:hover img {
  transform: scale(1.2);
}

.info-product {
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price {
  font-size: 18px;
  font-weight: 900;
}

.info-product button {
  border: none;
  background: none;
  background-color: #000;
  color: #fff;
  padding: 15px 10px;
  cursor: pointer;
}

.cart-empty {
  padding: 20px;
  text-align: center;
}

.container .card-container {
  margin-bottom: -160px;
  position: relative;
  height: 200px;
  width: 330px;
}

.container .card-container .front {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, blueviolet, deeppink);
  border-radius: 5px;
  backface-visibility: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.container .card-container .front .image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.container .card-container .front .image .photo {
  height: 30px;
}

.container .card-container .card-number-box {
  padding: 5px 0;
  font-size: 8px;
  color: #fff;
}

.container .card-container .front .flexbox {
  display: flex;
}

.container .card-container .front .flexbox .box:nth-child(1) {
  margin-right: auto;
}

.container .card-container .front .flexbox .box {
  font-size: 15px;
  color: #fff;
}

.navbar {
  border-block-end: 2px solid rgb(185, 162, 33);
}
.navbar__navbar-brand {
  border: 2px solid rgb(185, 162, 33);
}

footer {
  background-color: black;
  color: rgb(190, 166, 28);
  grid-area: footer;
  border-top: 2px solid rgb(185, 162, 33);
}
footer .title-footer {
  border-block-end: 2px solid rgb(185, 162, 33);
}
footer .footer-con {
  border-block-start: 2px solid rgb(185, 162, 33);
}
footer__ul {
  list-style-type: none;
}

.navbar {
  border-block-end: 2px solid rgb(185, 162, 33);
}
.navbar__navbar-brand {
  border: 2px solid rgb(185, 162, 33);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-form a {
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: white;
  font-weight: 700;
}

.container-form a i {
  color: orange;
  margin-right: 10px;
}

.container-form form .campo, textarea {
  width: 100%;
  padding: 10px 10px;
  font-size: 15px;
  border: 1px solid orange;
  margin-bottom: 40px;
  border-radius: 3px;
  outline: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

.fondo-pagos {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding-bottom: 60px;
}

.forfondo2 {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: auto;
  padding-top: 140px;
}

.container form .inputBox {
  margin-top: 20px;
}

.container form .inputBox label {
  display: block;
  color: #999;
  padding-bottom: 5px;
}

.container form .inputBox input,
.container form .inputBox select {
  width: auto;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #444;
}

.container form .submit-btn {
  width: 100%;
  background: linear-gradient(45deg, blueviolet, deeppink);
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  color: #fff;
  transition: 0.2s linear;
}

.container form .submit-btn:hover {
  letter-spacing: 2px;
  opacity: 0.8;
}

.bt {
  border: 2px solid black;
  background-color: black;
  color: rgb(185, 162, 33);
  border-radius: 10px;
  padding: 10px 15px;
}
.bt:hover {
  border: 2px solid black;
  background-color: gold;
  color: black;
}

.btn {
  border: 2px solid rgb(185, 162, 33);
  background-color: black;
  color: rgb(185, 162, 33);
  border-radius: 10px;
  padding: 10px 15px;
}
.btn:hover:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 50px goldenrod;
  border: 2px solid black;
  background-color: gold;
  color: black;
}

.nav-item:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 70px black;
}

.carousel-control-next-icon {
  border: 4px solid rgb(185, 162, 33);
  background-color: rgb(185, 162, 33);
  border-radius: 10px;
  padding: 10px 15px;
}

.carousel-control-prev-icon {
  border: 4px solid rgb(185, 162, 33);
  background-color: rgb(185, 162, 33);
  border-radius: 10px;
  padding: 10px 15px;
}

.card-btn {
  border: 2px solid black;
  background-color: black;
  color: black;
  border-radius: 10px;
  padding: 10px 15px;
}
.card-btn:hover {
  border: 4px solid black;
  background-color: gold;
  color: black;
}

.card {
  background-color: rgb(185, 162, 33);
  border: 5px solid rgb(185, 162, 33);
}

.tarjeta {
  border: 2px solid black;
  background-color: rgb(185, 162, 33);
  width: 300px;
  height: 500px;
  border-radius: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.tarjeta .tarjeta_img {
  width: 250px;
  height: 200px;
}

.movimientos:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 0px goldenrod;
  cursor: pointer;
}

.nav-item:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 70px black;
}

.movimientof:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 50px black;
  cursor: pointer;
}

.barra {
  padding: 10px;
  display: flex;
  gap: 10px;
  overflow: auto;
}

.title-carrusel {
  background-color: rgb(185, 162, 33);
  color: black;
  border: 3px solid black;
}

.p-carrusel {
  background-color: rgb(185, 162, 33);
  color: black;
  border: 3px solid black;
}

/*# sourceMappingURL=styles.css.map */
