$color-primario: black;
$color-secundario: gold;


main {
    background-color: black;
    overflow: auto;
    min-height: auto;
}


.h1title {
    color: $color-primario;
    background-color: rgb(185, 162, 33);
    border: 5px solid rgb(185, 162, 33);
    text-transform: uppercase;
}

h2 {
    color: $color-primario;
    background-color: rgb(185, 162, 33);
    border: 4px solid rgb(185, 162, 33);
    border-radius: 1rem;
    text-transform: uppercase;
}

h3 {
    color: $color-secundario;
    background-color: black;
    border: 3px solid black;
    border-radius: 1rem;
}

h4 {
    color: $color-secundario;
}

a {
    text-transform: uppercase;
}


