main {


    background-color: black;
    overflow: auto;
    min-height: 60vh;

    .title {
        background-color: rgb(185, 162, 33);
        border: 2px solid rgb(185, 162, 33);
        border-radius: 1rem;
       
    }
    .title2 {
        background-color: black;
       
    }

}