
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.container-form a {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: white;
    font-weight: 700;

}

.container-form a i {
    color: orange;
    margin-right: 10px;
}

.container-form form .campo, textarea {
    width: 100%;
    padding: 10px 10px;
    font-size: 15px;
    border: 1px solid orange;
    margin-bottom: 40px;
    border-radius: 3px;
    outline: 0px;
}







