.title-carrusel {
    
    background-color: rgb(185, 162, 33);
    color: black;
    border: 3px solid black;
   
}

.p-carrusel {
    background-color: rgb(185, 162, 33);
    color: black;
    border: 3px solid black; 
}