.movimientos:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 0px goldenrod;
    cursor: pointer;
}

.nav-item:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 70px black;
}

.movimientof:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 50px black;
    cursor: pointer;
}

